*.swp
*.tmp
*.d
*.dtb
*.dtb.S
*.o
*.o_binary
*.ko
*.cmd
*.mod
*.mod.c
Module.symvers
dtbs-list
modules.order
out/
_out/
nvdisplay/kernel-open/conftest/
nvdisplay/kernel-open/nv_compiler.h
unifiedgpudisp/kernel-open/conftest/
unifiedgpudisp/kernel-open/nv_compiler.h
